body{
    color: #333;
  background: url('pg bg.png') right no-repeat fixed #5C98B2;
    background-size: 35em;
    margin: 0;
    width: 100%;
}

#head{
	        padding-top: 4.5em;
    margin: 0 auto;
    text-align: center;
    font: normal 4em 'Cookie', cursive;
    color: #5C98B2;
    text-shadow: #c8e7f1 2px 2px 0px;;
}

#head h1{
    font-size: 1em;
}

ul#menu-primary {
    margin: 0 !important;
    background:  #ffffff;
    text-align: center;
    width: 100%;
    padding-start: 0 !important;
    -webkit-padding-start: 0 !important;
    -moz-padding-start: 0 !important;
    border-bottom: 5px solid #90c4da;
    box-shadow: #ffeeb5 0px 5px 0.2px;
  }

ul#menu-primary li {
    display: inline-block;
    position: relative;
    list-style-type: none !important;
    width: 17em;
    color: #00c0e1;
  }

  ul#menu-primary li a:link, ul#menu-primary li a:visited {
    font: normal 1.4em 'Playfair Display', serif;
    text-transform: lowercase;
    text-decoration: none;
    border-bottom: none !important;
    color: #5C98B2;
    display: block;
    padding-bottom: 0.15em;
  }

  ul#menu-primary li a:hover, ul#menu-primary li ul li a:hover, ul#menu-primary li a:focus, ul#menu-primary li ul li a:focus {
  	font-style: italic;
  }

  ul#menu-primary li:hover > ul, ul#menu-primary li:focus > ul, ul #menu-primary li > ul li a:hover, ul #menu-primary li > ul li a:focus {
    display: block;
}
ul#menu-primary ul {
    display: none;
    position: absolute;
    left: 0;
    z-index: 99999;
    width: auto;
    padding-inline-start: 0 !important;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background:  #ffffff;
    box-shadow: #ffeeb5 0px 5px 0.2px;
    border-bottom: 5px solid #90c4da;
  }

  #sub{
  	margin-top: 8em;
  	text-align: center;
  	font: normal 100% 'Open Sans';
  	color: #ffffff;
  }

  #sub ul{
  	padding-inline-start: 0 !important;
  	list-style-type: none;
  	padding-bottom: 1em;
  }

  #sub ul li{
  	display: inline-block;
  	width: 17em;
  }

  #sub ul li a:link, #sub ul li a:visited{
  	color: #ffffff;
  	text-decoration: none;
  	text-transform: lowercase;
  	    font: normal 2.4em 'Cookie', cursive;
  }

  #sub ul li a:hover, #sub ul li a:focus{
    color: #ffeeb5;
  	    text-shadow: rgb(132, 192, 218) 2px 2px 0px;
  }
  
  #container{
    border: 5px solid #ffeeb5;
    background: #ffffff;
    padding: 1em;
    width: 50em;
    margin: 3em auto;
    font: normal 100%/160% 'Open Sans';
  }

  #container a:link, #container a:visited{
    color: #5C98B2;
  }

  #container a:hover, #container a:focus{
    box-shadow: inset 0 -15px #ffeeb5;
    text-decoration: none;
  }

  h1{
    color: #5C98B2;
    font: normal 3em 'Cookie', cursive;
    text-align: center;
  }

  b, strong{
    color: #5C98B2;
  }

  .home{
    margin: 1.5em auto;
  }

  .home a:link, .home a:visited{
    text-align: center;
    display: block;
    font: normal 2em 'Cookie', cursive;
    color: #5C98B2;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
  }

  .home a:hover, .home a:focus{
      background: none!important;
      color: #5C98B2!important;
      box-shadow: inset 0 -15px 0 #c8e7f1!important;
  }

  #container ul li{
    margin-bottom: 1em;
  }

  big{
    font-weight: 600;
    color: #5C98B2;
  }

  .konami{
    letter-spacing: 15px;
    color: #ffe796;
  margin-top: 30px;
  }
  
  /* mobile */

@media only screen and (max-width: 960px) and (min-width: 0px) {

html {
-webkit-text-size-adjust: none;
}

body{
    font-size: 90%;
}

#head{
	        padding-top: 2em;
}

#container{
    width: 90%;
}

.konami{
  display: none;
}

}
