 body{
font: normal 100%/160% 'Arsenal', sans-serif;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;

            }

            ::selection {
                background: #B94546;
                color: #fff;
            }

            ::-moz-selection {
                background: #B94546;
                color: #fff;
            }

            ::-webkit-selection {
                background: #B94546;
                color: #fff;
            }
            
            #container{
                padding: 2em;
                font: normal 100%/160% 'Arsenal', sans-serif;
                margin: 2.7em auto;
                width: 40em;
            }
            
            img.bunny{
                text-align: center;
                height: 150px;
            }
            
            
            h1{
                color: #000;
                font: normal 250% 'Allura', display;
                font-weight: bold;
                margin: 0.5em auto 1em;
                text-transform: lowercase;
                text-align: center;
                border-top: #000 2px solid;
                padding-top: 0.5em;
            }
            
            #prompts{
                background: #eee;
                text-align: center;
                padding: 1em;
                width: 20em;
                margin: 0 auto;
                font: normal 160%/180% 'Arsenal';
            }
            

#footer{
    font: normal 100% 'Arsenal';
    text-align: center;
    margin-top: 4em;
}

a:link, a:visited{
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #000;
}

input[type="button"]{
background: #fff;
    font: normal 130% 'Arsenal', sans-serif;
    color: #000;
    padding: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #000;
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: 1.5em;
}

input[type=button]:hover{
    color: #fff;
    background: #B94546;
    curser:pointer;
    
}

@media only screen and (max-width: 960px) and (min-width: 431px) {

html {
-webkit-text-size-adjust: none;
}

}

@media only screen and (max-width: 430px) and (min-width: 0px) {

html {
-webkit-text-size-adjust: none;
font-size: 90%;
}

body{
    margin: 0;
    padding: 0;
    overflow: auto;
}

#container{
    width: 96vw;
    padding: 3vh 2vw;
    margin: 0 auto;
}

#prompts{
    width: 80vw;
}

#footer{
    margin-top: 2em;
}

}